.flat {
  flex-basis: calc(47% - 3px);
  margin: 10px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-bottom: 5px;
  padding: 3px;
  box-shadow: 1 1 1 2;
}

.flat:hover {
  opacity: 0.9;
}

.flat-picture {
  height: 180px;
  background-size: cover;
}

.flat-title {
  margin-top: 10px;
  margin-right: 3px;
}

.flat-price {
  font-weight: 200;
  font-size: 1.2em;
}
